p, header, img{
    margin: 0;
    padding: 0;
    border: 0;
    text-decoration: none;
}

body {
    background: linear-gradient(0deg,rgba(0,0,0,0.1),rgba(0,0,0,0.8)) ,url(./../image/signinup.jpg) no-repeat center;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
    background-attachment: fixed;
    font-family: 'Dosis', sans-serif;
}

header {
    font-size: 2.8em;
    text-transform: capitalize;
    color: white;
    letter-spacing: 3px;
    word-spacing: 3px;
    margin: 1em 1vw 1.5em;
    text-align: center;
    font-family: 'Dosis', sans-serif;
    display: block;
    color: darkorange;;
}

p {
    margin: 1em 1vw 1.5em;
    text-align: center;
    font-size: 1.2em;
}

a {
    color:azure;
}